body {
    overflow: hidden;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3,7rem);
    grid-template-rows: repeat(3,7rem);
    position: relative;
    top: 5vw;
    left: 36vw;
    position: relative;
}

cell {
    border: 1px solid black;
    border-top: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
}

/* For the first column, remove the left border */
#gameBoard cell:nth-child(3n + 1) {
    border-left: none;
}

/* For the last row, remove the bottom border */
#gameBoard cell:nth-last-child(-n + 3) {
    border-bottom: none;
}

cell:hover{
    cursor: pointer;
}

cell:hover::after {

    font-size: 7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.restart {
    font-size: 1.5rem;
    position: absolute;
    bottom: 5vw;
    left: 47vw;
    cursor: pointer;
}